
*{
    margin:0;
    padding: 0;
    background-color:#e8f4f6 ;
}

@media only screen and (min-width: 992px){
.full{
    width: 100%;
    margin: 0;
}

.main{
    box-sizing: border-box;
}

.acco1{
    margin:5rem;
    background-color: white;
}

.accoh1{
    background-color: white;
}

.acco{
    background-color: white;
    height:30.5rem;
}


.head1{
    text-align: center;
    margin-top: 3rem;
}

.h1head{
    color:blue;
    font-size: 4rem;
    
}

.phead1{
    font-size: 1.5rem;
}



.headimg{
    width: 80rem;
    height: 45rem;
    margin-left: 2rem;
}

.accop{
    background-color: white;    
}


.accoimg{
    width: 35rem;
    height: 20rem;
    background-color: white; 
}

.accoimgdiv{
    float: right;
    background-color: white;
    margin-left: 5rem;
}

.acco2{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: white;
}

.accordion{
    display: inline-block;
    width: 25rem;
}

.cardh1{
    text-align: center;
    margin-top:4rem ;
}

.cards{
        margin-top: 15rem;
    }

.card3{
    width: 18rem;
    display: inline-block;
    margin-right: 5rem;
    float: right;
}    

.card2{
    width: 18rem;
    display: inline-block;
    margin-left: 10rem;
}    

.card1{
    width: 18rem;
    display: inline-block;
    margin-left: 5rem;
}    

.contentimg{
    width:64rem;
    height:35rem;
    margin:5rem;
    background-color: white;
}

.contentp{
    margin-right: 15rem;
    margin-left:15rem;
    background-color: white;
}

 .contentdiv{
    width: 39.5rem;
    margin-top: 3rem;
    margin-left: 5rem;
    box-shadow: 5px 10px 14px #888888;
    display: inline-block;
    background-color: cornsilk;

}

.contentimg1{

        width: 30rem;
        height: 28rem;
        float: right;
        display: inline;
        margin-right: 4.8rem;
        background-color: white;

}

.accordion-button{
    color:brown;
    background-color: cyan;
}

.accordion-button:hover{
    background-color: #c2bcbc;
    transition: 0.4s;
}

.accordion-body{
    color: darkblue;

}

.accordion-body:hover{
    background-color: pink;
    transition: 0.4s;
}

.form{
    width: 30rem;
    float: right;
    margin-right: 7rem;
    display: inline-block;
    background-color:#e8f4f6 ;
}

.formdiv1{
    background-color:#e8f4f6;
}

.formdiv2{
    margin-top:10rem;
    background-color: #e8f4f6;
}

.formdiv3{
    width: 30rem;
    display: inline-block;
    margin-left: 5rem;
}

.formp{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 3rem;
}

.formh1{
    margin-top: 2rem;
    margin-left: 4rem;
}

.contenth1{
    margin-top:2rem;
    margin-left: 3rem;
    margin-right: 8rem;
    background-color: cornsilk;

}

.contentp2{
    margin-top: 2rem;
    margin-left:3rem;
    margin-right: 8rem;
    background-color: cornsilk;
}

.social1{
    background-color: white;
}  

.social2{
    text-align: center;
    margin-top: 5rem;
    background-color: white;
}

.socialh1{
    background-color: white;
}

}

@media only screen and (max-width: 600px){

    .full{
        width: 100%;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
        float: left;
        background-color: #e8f4f6;
    }
    
    .main{
        width: 100%;
    }
     
    div#___gatsby{
        width:100%;
    }
    
    .h1head{
        width: 100%;
        font-size: 4rem;
        color: blueviolet;
        text-align: center;
     }

     .phead1{
        width: 100%;
        font-size: 1.5rem;
        margin:1rem;
        text-align: center;
    }

    .headimg{
        margin-top:2rem;
        max-width: 100%;
        max-height: 40rem;
    }

    .accoh1{
        margin-left:0rem;
        font-size: 2rem;
        width: 100%;
        float: left;
        display: none;
    }
    
    .acco2{
        margin:1rem;
        font-size: 1.5rem;
        width: 100%;
    }

    .accordion-button{
        font-size: 1.3rem;
        background-color: cadetblue;
    }

    .accordion-body{
        font-size: 1rem;
    }
    
    .accordion{
        margin:0;
        margin-left: 0;
        width: 100%;
    }
    
    .acco{
        margin: 0rem;
        width: 100%;
        margin-left: 0px;
    }

    .accoimgdiv{
        display: none;
    }

    .cardh1{
        margin-top: 8rem;
    }

    .cards{
        margin-left:3rem;
        margin-top: 0rem;
        position: relative;
    }
    
    .card1{
        width: 30rem;
    }
    
    .card2{
        width: 30rem;
    }
    
    .card3{
        width: 30rem;

    }
    .card-img-top{
        width: 30rem;
    }
    
    .contentimg{
        margin: 0;
        top:1rem;
    
    }
    
    .socialh1{
        text-align: center;
        margin-top: 2rem;
        font-size: 2.2rem;
    }
    .contentp{
        text-align:  center;
        margin:0;
    }
    
    .contentdiv{
        margin:0;
        max-width: 100%;
        display: none;
    }
    
    .contentdiv1{
        margin:0;
        max-width: 100%;
    
    }

    .card-text{
        font-size: 1.5rem;
    }
    
    .contentp{
        font-size: 1.5rem;
    }

    .contentdiv1{
        margin-top: 2rem;
    }

    .contentimg{
        margin-top: 2rem;
        width:100%;
        margin-right: 2rem;
    }
    
     div.acco1 div h1{
         margin:0;
     }

     .contentimg1{
         max-width: 100%;
         height: 10rem;
         justify-content: center;
         display: none;
     }

     .contentdiv{
         max-width: 100%;
         margin-left: 6rem;
     }

     .accoimgdiv{
         background-color: none;
     }
     .form{
         top: 4rem;
         margin-right: 3rem;
         margin-left: 3rem;
     }

     .form-control{
         height: 3rem;
         font-size: 1rem;
     }

     .btn{
         width: 8rem;
         height: 2rem;
         font-size: 1rem;
     }

    .formh1{
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-top:2rem;
    }

    .formp{
        max-width: 100%;
        font-size: 1.3rem;
        margin:2rem;
    }


}
